.App {
  text-align: center;
}

.App-container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#title {
  color: #61DAFB;
}
#instructions {
  font-size: 18px;
  display: block;
}
#user-settings {
  margin: 0 auto;
  height: auto;
  max-height: 90px;
}
#instructions input {
  display: block;
  margin: 15px auto;
  padding: 5px 5px;
  width: 200px;
  text-align: center;
  border: 1px solid #61DAFB;
  border-radius:3px;
  background-color: #282c34;
  color: #fff;
  font-size: 20px;
 
}
#game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#game-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#user-settings.fade-out {
  transition: opacity .20s , max-height .20s .20s, transform .20s .40s;
  opacity: 0;
  max-height: 0;
  transform: translateX(-9999px) 
}